<!-- template retirado de: https://dansup.github.io/bulma-templates/templates/admin.html -->
<header>
	<nav class="navbar is-white">
		<div class="navbar-brand">
			<a class="navbar-item brand-text" href="{{ url_for("categorias.showCategorias") }}">
				Catálogo
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navMenu" class="navbar-menu">
			<div class="navbar-end">
				<div class="navbar-item">
					<a class="button is-primary is-outlined" href="{{ url_for("usuarios.logoutUsuario") }}">
						<span>
							Logout
						</span>
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>

<script>
	$(document).ready(function() {

		// verifica eventos de clique pro botão hamburger
		$(".navbar-burger").click(function() {

			$(".navbar-burger").toggleClass("is-active");
			$(".navbar-menu").toggleClass("is-active");

		});
	});
</script>