{% extends "layoutPrincipal.html" %}

{% block tituloSite %}
	Excluir item | Catálogo
{% endblock %}

{% block inserirCabecalho %}
	{% include "cabecalho.html" %}
{% endblock %}


{% block conteudoPrincipal %}
	<div class="column is-three-fifths is-offset-one-fifth">
{% endblock %}


{% block tituloPagina %}
	Tem certeza que deseja excluir o item {{ item.nome }}?
{% endblock %}

{% block listaItens %}
	<div class="tile is-parent">
		<div class="tile is-child">
			<form method="POST" enctype="multipart/form-data" action="{{ url_for("itens.deleteItem", categoria=item.categoria_id, item=item.id) }}">
				<div class="field is-grouped">
					<div class="control">
						<button type="submit" class="button is-danger is-medium">Excluir</button>
					</div>
					<div class="control">
						<a href="{{ url_for("itens.showItem", categoria=item.categoria_id, item=item.id) }}">
							<button type="button" class="button is-text is-medium">Cancelar</button>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div> <!-- <div column is-three-fifths is-offset-one-fifth> -->
{% endblock %}