<!DOCTYPE html>
<html>
<head>
	
    {% include "headImportacoes.html" %}

	<title>Excluir categoria | Catálogo</title>
</head>
<body>

	<main role="main" class="container">

		<h1>Tem certeza que deseja excluir a categoria {{ categoria.nome }} e todos os seus itens?</h1>
		<p><a href="{{ url_for("showCategorias") }}">Cancelar</a></p>
		<form method="POST" enctype="multipart/form-data" action="{{ url_for("deleteCategoria", categoria=categoria.id) }}">
			{{ form.csrf_token }}
	        <input type="submit" value="Excluir">

	    </form>

	</main>

</body>
</html>