{% extends "layoutPrincipal.html" %}

{% block tituloSite %}
	Editar item | Catálogo
{% endblock %}

{% block inserirCabecalho %}
	{% include "cabecalho.html" %}
{% endblock %}


{% block conteudoPrincipal %}
	<div class="column is-three-fifths is-offset-one-fifth">
{% endblock %}


{% block tituloPagina %}
	Editar o item {{ item.nome }}
{% endblock %}

{% block listaItens %}
		<div class="tile is-parent">
			<div class="tile is-child">
				<form method="POST" enctype="multipart/form-data" action=""{{ url_for("editItem", categoria=item.categoria_id, item=item.id) }}">
					<div class="field">
						<label class="label">Nome*:</label>
						<div class="control">
							<input name="nome" required class="input is-medium" type="text" value="{{ item.nome }}"><br>
						</div>
					</div>
					<div class="field">
						<label class="label">Descrição*:</label>
						<div class="control">
							<textarea name="descricao" required class="textarea is-medium">{{ item.descricao }}</textarea>
						</div>
					</div>
					<div class="field">
						<div class="file is-centered is-boxed is-info has-name">
							<label class="file-label">
								<input class="file-input" onchange="mudarNome(this, nomeArquivo)" type="file" name="imagem" accept=".jpg,.jpeg,.png,image/jpg,image/jpeg,image/png">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-upload"></i>
									</span>
									<span class="file-label">
										Nova imagem
									</span>
								</span>
								<span id="nomeArquivo" class="file-name">
									Sem envio...
								</span>
							</label>
						</div>
						<br>
						<label class="label">Imagem anterior:</label>
						<div class="tile is-parent">
							<article class="tile is-child box">
								<img width="100%" src="{{ url_for("static", filename="img/" + item.imagem) }}">
							</article>
						</div>
					</div>
					<div class="field is-grouped">
						<div class="control">
							<button type="submit" class="button is-success is-medium">Enviar</button>
						</div>
						<div class="control">
							<a href="{{ url_for("showItem", categoria=item.categoria_id, item=item.id) }}">
								<button type="button" class="button is-text is-medium">Cancelar</button>
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> <!-- <div column is-three-fifths is-offset-one-fifth> -->

<script>
	function mudarNome(arquivo, obj) {
		if (arquivo.files[0].name != "") {
			obj.innerHTML = arquivo.files[0].name;
		}
		else {
			obj.innerHTML = "Sem envio...";
		}
	}
</script>
{% endblock %}