<!DOCTYPE html>
<html>
<head>

    {% include "headImportacoes.html" %}
	
	<title>Editar categoria | Catálogo</title>
</head>
<body>

	{% include "cabecalho.html" %}

	<main role="main" class="container">

		<h1>Editar categoria</h1>
		<p><a href="{{ url_for("showCategoria", categoria=categoria.id) }}">Cancelar</a></p>
		<form method="POST" enctype="multipart/form-data" action="{{ url_for("editCategoria", categoria=categoria.id) }}">

	        <label>Nome: </label><input name="nome" type="text" value="{{ categoria.nome }}"><br>
	        <input type="submit" value="Atualizar">

	    </form>

	</main>

</body>
</html>