{% extends "layoutPrincipal.html" %}

{% block tituloSite %}
	Editar categoria | Catálogo
{% endblock %}

{% block inserirCabecalho %}
	{% include "cabecalho.html" %}
{% endblock %}


{% block conteudoPrincipal %}
	<div class="column is-three-fifths is-offset-one-fifth">
{% endblock %}


{% block tituloPagina %}
	Editar a categoria {{ categoria.nome }}
{% endblock %}

{% block listaItens %}
		<div class="tile is-parent">
			<div class="tile is-child">
				<form method="POST" enctype="multipart/form-data" action="{{ url_for("editCategoria", categoria=categoria.id) }}">
					<div class="field">
						<label class="label">Nome:</label>
						<div class="control">
							<input name="nome" required class="input is-medium" type="text" value="{{ categoria.nome }}"><br>
						</div>
					</div>
					<div class="field is-grouped">
						<div class="control">
							<button type="submit" class="button is-primary is-medium">Enviar</button>
						</div>
						<div class="control">
							<a href="{{ url_for("showCategoria", categoria=categoria.id) }}">
								<button type="button" class="button is-text is-medium">Cancelar</button>
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> <!-- <div column is-three-fifths is-offset-one-fifth> -->
{% endblock %}