<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<link href="{{ url_for("static", filename="css/login.css") }}" rel="stylesheet">

	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//apis.google.com/js/platform.js?onload=start"></script>
   <meta name="google-signin-client_id" content="{{ id_cliente }}">
   <meta name="google-signin-scope" content="profile email">
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

	<title>Login | Catálogo</title>
</head>
<body>

	<main>

		<!-- GOOGLE PLUS SIGN IN BUTTON-->
	    <div id="signinButton">
			<span class="g-signin2"
				data-scope="openid email"
				data-clientid="{{ id_cliente }}"
				data-redirecturi="postmessage"
				data-accesstype="offline"
				data-cookiepolicy="single_host_origin"
				data-onsuccess="signInSuccess"
				data-onfailure="signInFailure"
				data-theme="light"
				data-width="300"
				data-height="75"
				data-longtitle="true">
			</span>
	    </div>
	    <br>

		<div id="result"></div>

		<script>
		function signInSuccess(authResult) {

			// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
			$.ajax({
				type: 'POST',
				url: '{{ url_for("loginUsuario") }}?state={{state}}',
				processData: false,
				data: authResult['code'],
				contentType: 'application/octet-stream; charset=utf-8',
				success: function(result) {
					// Handle or verify the server response if necessary.
					if (result) {
						// Hide the sign-in button now that the user is authorized
						$('#signinButton').attr('style', 'display: none');
						$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
						setTimeout(function() {
							window.location.href = "/categorias/";
						}, 4000);
					}
			    }
			});

		}

		function signInFailure(authResult) {

			if (authResult['error']) {
				console.log('There was an error: ' + authResult['error']);
	  		} else {
		        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
		    }

		}
		</script>

		<!--END GOOGLE PLUS SIGN IN BUTTON -->

	</main>

</body>
</html>