<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link href="{{ url_for("static", filename="css/login.css") }}" rel="stylesheet">

	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
   <meta name="google-signin-client_id" content="{{ id_cliente }}">
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

	<title>Logout | Catálogo</title>
</head>
<body>

	<main align="center">

		<h2>Desconectando...</h2>

		<script>

			function onLoad() {
				gapi.load('auth2', function() {
					gapi.auth2.init();

					setTimeout (function () {
				       signOut();
				    }, 1500);
				});
			}

			function signOut() {
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function () {
					window.location = "{{ url_for("showCategorias") }}";
				});
			};

		</script>

		<!--END GOOGLE PLUS SIGN IN BUTTON -->

	</main>

</body>
</html>