{% extends "layoutPrincipal.html" %}

{% block tituloSite %}
	{{ categoria.nome }} | Catálogo
{% endblock %}

{% block inserirCabecalho %}
	{% include "cabecalho.html" %}
{% endblock %}

{% block inserirSidebar %}
	{% include "sidebar.html" %}
{% endblock %}

{% block conteudoPrincipal %}
	{% if categoria.usuario_id == usuario_id %}
	<div class="field is-grouped">
		<div class="control">
			<a href="{{ url_for("editCategoria", categoria=categoria.id) }}">
				<button type="button" class="button is-medium">Editar</button>
			</a>
		</div>
		<div class="control">
			<a href="{{ url_for("deleteCategoria", categoria=categoria.id) }}">
				<button type="button" class="button is-medium">Excluir</button>
			</a>
		</div>
	</div>
	<p>
		<a href="{{ url_for("newItem", categoria=categoria.id) }}" class="box is-primary is-medium has-text-centered">
			Adicionar novo item
		</a>
	</p>
	{% endif %}
{% endblock %}


{% block tituloPagina %}
	{{ categoria.nome }}
{% endblock %}

{% block subtituloPagina %}
	Itens: {{ itens|length }}
{% endblock %}

{% block listaItens %}
	{% for item in itens %}

		<div class="tile is-parent">
			<article class="tile is-child box">
				<p class="subtitle">
					<a href="{{ url_for("showItem", categoria=item.categoria_id, item=item.id) }}">
						{{ item.nome }}
					</a>
				</p>
				<p>
					<img width="25%" src="{{ url_for("static", filename="img/" + item.imagem) }}">
				</p>
			</article>
		</div>

	{% endfor %}
{% endblock %}