<!DOCTYPE html>
<html>
<head>
	
	{% include "headImportacoes.html" %}
	
	<title>Catálogo</title>
</head>
<body>

	{% include "cabecalho.html" %}

	{% include "showMensagens.html" %}

	<main role="main" class="container">

		<h1>Catálogo</h1>

		<p>
			<a href="{{ url_for("logoutUsuario") }}">
				Logout
			</a>
		</p>

		<p>
			<a href="{{ url_for("newCategoria") }}">
				<button type="button">Adicionar nova categoria</button>
			</a>
		</p>

		{% for categoria in categorias %}

		    <p>
		    	<a href="{{ url_for("showCategoria", categoria=categoria.id) }}">{{ categoria.nome }}</a>
		    </p>

		{% endfor %}

		<h2>Itens recentes...</h2>

		{% for item in itens %}

		    <p>
		    	<a href="{{ url_for("showItem", categoria=item.categoria_id, item=item.id) }}">{{ item.nome }}</a>
		    </p>

		{% endfor %}

	</main>

	{% include "rodape.html" %}

</body>
</html>