{% extends "layoutPrincipal.html" %}

{% block tituloSite %}
	{{ categoria.nome }} | Catálogo
{% endblock %}

{% block inserirCabecalho %}
	{% include "cabecalhoPublica.html" %}
{% endblock %}

{% block inserirSidebar %}
	{% include "sidebar.html" %}
{% endblock %}

{% block tituloPagina %}
	{{ categoria.nome }}
{% endblock %}

{% block subtituloPagina %}
	Itens: {{ itens|length }}
{% endblock %}

{% block listaItens %}
	{% for item in itens %}

		<div class="tile is-parent">
			<article class="tile is-child box">
				<p class="subtitle">
					<a href="{{ url_for("showItem", categoria=item.categoria_id, item=item.id) }}">
						{{ item.nome }}
					</a>
				</p>
				<p>
					<img width="25%" src="{{ url_for("static", filename="img/" + item.imagem) }}">
				</p>
			</article>
		</div>

	{% endfor %}
{% endblock %}