<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
	<title>{{ categoria.nome }} | Catálogo</title>
</head>
<body>
	
	{% include "showMensagens.html" %}

	<h1>{{ categoria.nome }}</h1>

	{% for item in itens %}

	    <p>
	    	<a href="{{ url_for("showItem", categoria=categoria.id, item=item.id) }}">{{ item.nome }}</a>
	    </p>

	{% endfor %}

	<h3>Lista de Categorias...</h3>

	{% for c in categorias %}

		<a href="{{ url_for("showCategoria", categoria=c.id) }}">{{ c.nome }}</a>

	{% endfor %}

</body>
</html>