{% extends "layoutPrincipal.html" %}

{% block tituloSite %}
	Adicionar nova categoria | Catálogo
{% endblock %}

{% block inserirCabecalho %}
	{% include "cabecalho.html" %}
{% endblock %}


{% block conteudoPrincipal %}
	<div class="column is-three-fifths is-offset-one-fifth">
{% endblock %}


{% block tituloPagina %}
	Adicionar categoria
{% endblock %}

{% block listaItens %}
		<div class="tile is-parent">
			<div class="tile is-child">
				<form method="POST" enctype="multipart/form-data" action="{{ url_for("categorias.newCategoria") }}">
					<div class="field">
						<label class="label">Nome*:</label>
						<div class="control">
							<input name="nome" required class="input is-medium" type="text"><br>
						</div>
					</div>
					<div class="field is-grouped">
						<div class="control">
							<button type="submit" class="button is-success is-medium">Enviar</button>
						</div>
						<div class="control">
							<a href="{{ url_for("categorias.showCategorias") }}">
								<button type="button" class="button is-text is-medium">Cancelar</button>
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> <!-- <div column is-three-fifths is-offset-one-fifth> -->
{% endblock %}