{% extends "layoutPrincipal.html" %}

{% block tituloSite %}
	Catálogo
{% endblock %}

{% block inserirCabecalho %}
	{% include "cabecalhoPublica.html" %}
{% endblock %}

{% block inserirSidebar %}
	{% include "sidebar.html" %}
{% endblock %}

{% block conteudoPrincipal %}
	<div class="column is-9">
{% endblock %}

{% block tituloPagina %}
	Catálogo
{% endblock %}

{% block subtituloPagina %}
	Itens recentes...
{% endblock %}


{% block listaItens %}
	{% for i in range(itens|length) %}

		<div class="tile is-parent is-one-third">
			<article class="tile is-child box">
				<a href="{{ url_for("itens.showItem", categoria=itens[i].categoria_id, item=itens[i].id) }}">
					<p class="title">
						{{ itens[i].nome }}
					</p>
					<p class="subtitle">
						<img width="100%" src="{{ url_for("static", filename="img/" + itens[i].imagem) }}">
					</p>
				</a>
			</article>
		</div>

		{% if (i + 1) % 3 == 0 %}
			</div>
			<div class="tile is-ancestor has-text-centered">
		{% endif %}

	{% endfor %}
	</div> <!-- <div column is-9 -->
{% endblock %}